<!-- TOP AREA -->
<div class="top-area show-onload">
    <div class="bg-holder full">
        <div class="bg-front full-height bg-front-mob-rel">
            <div class="container full-height">
                <div class="rel full-height">
                    <div class="tagline visible-lg" id="tagline"><span>It's time to</span>
                        <ul>
                            <li>live</li>
                            <li>have fun</li>
                            <li>relax</li>
                            <li>meet</li>
                            <li>being lost</li>
                            <li>run away</li>
                            <li>go</li>
                            <li>explore</li>
                            <li>find new friends</li>
                            <li class="active">discover</li>
                            <li>play</li>
                        </ul>
                    </div>

                    <div class="search-tabs search-tabs-bg search-tabs-bottom mb50">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#tab-1" data-toggle="tab"><i
                      class="fa fa-building-o"></i>
                    <span>Hotels</span></a>
                                </li>
                                <li><a href="#tab-2" (click)="loadData()" data-toggle="tab"><i class="fa fa-plane"></i>
                    <span>Flights</span></a></li>
                                <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-home"></i>
                    <span>Rentals</span></a></li>
                                <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i>
                    <span>Cars</span></a></li>
                                <li><a href="#tab-5" (click)="loadData()" data-toggle="tab"><i class="fa fa-bolt"></i>
                    <span>Activities</span></a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <!-- Start :: Hotels -->
                                    <app-hotels *ngIf="!isLoading else loading">
                                    </app-hotels>
                                    <!-- End :: Hotels -->

                                </div>
                                <div class="tab-pane fade" id="tab-2">
                                    <!-- Start :: Flights -->
                                    <app-flights *ngIf="!isLoading else loading"></app-flights>
                                    <!-- Start :: Flights -->
                                </div>
                                <div class="tab-pane fade" id="tab-3">
                                    <!-- Start :: Rentals -->
                                    <app-rentals *ngIf="!isLoading else loading"></app-rentals>
                                    <!-- Start :: Rentals -->
                                </div>

                                <div class="tab-pane fade" id="tab-4">
                                    <!-- Start :: Cars -->
                                    <app-cars *ngIf="!isLoading else loading"></app-cars>
                                    <!-- Start :: Cars -->
                                </div>
                                <div class="tab-pane fade" id="tab-5">
                                    <!-- Start :: Activities -->
                                    <app-activities *ngIf="!isLoading else loading"></app-activities>
                                    <!-- Start :: Activities -->
                                </div>
                                <ng-template #loading>

                                    <mat-spinner color="accent" strokeWidth="2" diameter="80"></mat-spinner>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider" data-nav="false">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(assets/img/196-365-2048-1365.jpg);"></div>
            </div>
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(assets/img/el-inevitable-paso-del-tiempo-2048x2048.jpg);"></div>
            </div>
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(assets/img/viva-las-vegas-2048x1365.jpg);"></div>
            </div>
        </div>
        <div class="bg-img hidden-lg" style="background-image:url(assets/img/196-365-2048-1365.jpg);"></div>
        <div class="bg-mask hidden-lg"></div>
    </div>
</div>
<!-- END TOP AREA  -->