<!-- Start :: Cars -->
<!-- <div class="tab-pane fade" id="tab-4"> -->
<h2>Search for Cheap Rental Cars</h2>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                <label>Pick-up Location</label>
                <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                <label>Drop-off Location</label>
                <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
            </div>
        </div>
    </div>
    <div class="input-daterange" data-date-format="M d, D">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>Pick-up Date</label>
                    <input class="form-control" (click)="cpicker.open()" (focus)="cpicker.open()" [matDatepicker]="cpicker" name="start" type="text" />
                    <mat-datepicker #cpicker></mat-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                    <label>Pick-up Time</label>
                    <input class="time-pick form-control" value="12:00 AM" type="text" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>Drop-off Date</label>
                    <input class="form-control" (click)="cdpicker.open()" (focus)="cdpicker.open()" [matDatepicker]="cdpicker" name="end" type="text" />
                    <mat-datepicker #cdpicker></mat-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                    <label>Drop-off Time</label>
                    <input class="time-pick form-control" value="12:00 AM" type="text" />
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
</form>
<!-- </div> -->
<!-- Start :: Cars -->