<!-- Top Header -->
<top-header></top-header>

<!-- TOP AREA -->
<top-area></top-area>
<!-- END TOP AREA  -->

<!-- Start  :: Best Price Guarantee -->
<best-price></best-price>
<!-- End  :: Best Price Guarantee -->

<!-- Start :: Top Destinations -->
<top-destinations></top-destinations>
<!-- End :: Top Destinations -->

<!-- Start :: Recent Reviews -->
<recent-reviews></recent-reviews>
<!-- End :: Recent Reviews -->

<!-- Start :: Last Minute Deals -->
<last-minute-deals></last-minute-deals>
<!-- End :: Last Minute Deals -->

<!-- Start :: Footer -->
<app-footer></app-footer>
<!-- End :: Footer -->
