<header id="main-header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" href="index.html"> <img src="assets/img/logo.png" alt="Image Alternative text" title="Image Title" /></a>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <form class="main-header-search">
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-search input-icon"></i>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            <li class="top-user-area-avatar">
                                <a href="user-profile.html"><img class="origin round" src="assets/img/amaze-40-40.jpg" alt="Image Alternative text" title="AMaze" />Hi, John</a>
                            </li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="nav">
            <ul class="slimmenu" id="slimmenu">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="hotels.html">Hotels</a></li>
                <li><a href="flights.html">Flights</a></li>
                <li><a href="rentals.html">Rentals</a></li>
                <li><a href="cars.html">Cars</a></li>
                <li><a href="activities.html">Activities</a></li>
            </ul>
        </div>
    </div>
</header>