<!-- Start :: Activities -->
<!-- <div class="tab-pane fade" id="tab-5"> -->
<h2>Search for Activities</h2>
<form>
    <div class="input-daterange" data-date-format="M d, D">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                    <label>Where are you going?</label>
                    <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>From</label>
                    <input class="form-control" (click)="apicker.open()" (focus)="apicker.open()" [matDatepicker]="apicker" name="start" type="text" />
                    <mat-datepicker #apicker></mat-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>To</label>
                    <input class="form-control" (click)="atpicker.open()" (focus)="atpicker.open()" [matDatepicker]="atpicker" name="end" type="text" />
                    <mat-datepicker #atpicker></mat-datepicker>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Search for Activities</button>
</form>
<!-- </div> -->
<!-- Start :: Activities -->