<!-- Start :: Recent Reviews -->
<div class="bg-holder">
    <div class="bg-mask"></div>
    <div class="bg-blur" style="background-image:url(assets/img/bridge-1280-848.jpg);"></div>
    <div class="bg-content">
        <div class="container">
            <div class="gap"></div>
            <h1 class="text-center text-white mb20">Recent Reviews</h1>
            <div class="row row-wrap">
                <div class="col-md-4">
                    <!-- START TESTIMONIAL -->
                    <div class="testimonial text-white">
                        <div class="testimonial-inner">
                            <blockquote>
                                <p>Eget penatibus hac tortor imperdiet ante elementum tellus vel habitant in laoreet aenean sapien penatibus
                                </p>
                            </blockquote>
                        </div>
                        <div class="testimonial-author">
                            <img src="assets/img/sevenly-shirts-june-2012-2-50x50.jpg" alt="Image Alternative text" title="Sevenly Shirts - June 2012  2" />
                            <p class="testimonial-author-name">Alison Mackenzie</p><cite>on <a class="text-udl" href="#">Waldorf
                Astoria</a> hotel in New York</cite>
                        </div>
                    </div>
                    <!-- END TESTIMONIAL -->
                </div>
                <div class="col-md-4">
                    <!-- START TESTIMONIAL -->
                    <div class="testimonial text-white">
                        <div class="testimonial-inner">
                            <blockquote>
                                <p>Netus cum ornare massa blandit natoque dui volutpat lacus non volutpat enim praesent lobortis semper
                                </p>
                            </blockquote>
                        </div>
                        <div class="testimonial-author">
                            <img src="assets/img/flare-lens-flare-50x50.jpg" alt="Image Alternative text" title="Flare lens flare" />
                            <p class="testimonial-author-name">Cheryl Gustin</p><cite>on <a class="text-udl" href="#">Wellington</a>
              hotel in New York</cite>
                        </div>
                    </div>
                    <!-- END TESTIMONIAL -->
                </div>
                <div class="col-md-4">
                    <!-- START TESTIMONIAL -->
                    <div class="testimonial text-white">
                        <div class="testimonial-inner">
                            <blockquote>
                                <p>Aliquam vulputate velit penatibus elit gravida neque mollis purus vivamus habitasse iaculis nullam cras consectetur</p>
                            </blockquote>
                        </div>
                        <div class="testimonial-author">
                            <img src="assets/img/afro-50-50.jpg" alt="Image Alternative text" title="Afro" />
                            <p class="testimonial-author-name">Sarah Slater</p><cite>on <a class="text-udl" href="#">Holiday</a> hotel
              in New York</cite>
                        </div>
                    </div>
                    <!-- END TESTIMONIAL -->
                </div>
            </div>
            <div class="gap-small gap"></div>
        </div>
    </div>
</div>
<!-- End :: Recent Reviews -->