<!-- Start  :: Best Price Guarantee -->
<div class="bg-color text-white">
    <div class="container">
        <div class="gap"></div>
        <div class="row row-wrap" data-gutter="120">
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-thumbs-o-up box-icon-border round box-icon-white box-icon-big"></i>
                    </header>
                    <div class="thumb-caption">
                        <h4 class="thumb-title">Best Travel Agent</h4>
                        <p class="thumb-desc">Eleifend tortor himenaeos mollis facilisis ligula sed himenaeos massa vivamus nulla posuere posuere</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-send box-icon-border round box-icon-white box-icon-big"></i>
                    </header>
                    <div class="thumb-caption">
                        <h4 class="thumb-title">Best Destinations</h4>
                        <p class="thumb-desc">Lectus ipsum eu elementum fames et fames vehicula montes sapien malesuada dictum nullam
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header"><i class="fa fa-dollar box-icon-border round box-icon-white box-icon-big"></i>
                    </header>
                    <div class="thumb-caption">
                        <h4 class="thumb-title">Best Price Guarantee</h4>
                        <p class="thumb-desc">Auctor bibendum risus mauris porta ridiculus bibendum placerat rhoncus sagittis varius condimentum tempor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
    </div>
</div>
<!-- End  :: Best Price Guarantee -->