<!-- Start :: Last Minute Deals -->
<div class="container">
    <div class="gap"></div>
    <h1 class="text-center mb20">Last Minute Deals</h1>
    <div class="row row-wrap">
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img" href="#">
                        <img src="assets/img/hotel-porto-bay-serra-golf-suite-800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" />
                        <h5 class="hover-title-center">Book Now</h5>
                    </a>
                </header>
                <div class="thumb-caption">
                    <ul class="icon-group text-tiny text-color">
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star-half-empty"></i>
                        </li>
                    </ul>
                    <h5 class="thumb-title"><a class="text-darken" href="#">The Benjamin</a></h5>
                    <p class="mb0"><small><i class="fa fa-map-marker"></i> New York, NY (Chelsea)</small>
                    </p>
                    <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$394</span><small> avg/night</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img" href="#">
                        <img src="assets/img/hotel-porto-bay-rio-internacional-rooftop-pool-800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe" />
                        <h5 class="hover-title-center">Book Now</h5>
                    </a>
                </header>
                <div class="thumb-caption">
                    <ul class="icon-group text-tiny text-color">
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="thumb-title"><a class="text-darken" href="#">The London NYC</a></h5>
                    <p class="mb0"><small><i class="fa fa-map-marker"></i> New York, NY (Chelsea)</small>
                    </p>
                    <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$355</span><small> avg/night</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img" href="#">
                        <img src="assets/img/lhotel-porto-bay-sao-paulo-suite-lhotel-living-room-800x600.jpg" alt="Image Alternative text" title="hotel 1" />
                        <h5 class="hover-title-center">Book Now</h5>
                    </a>
                </header>
                <div class="thumb-caption">
                    <ul class="icon-group text-tiny text-color">
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star-half-empty"></i>
                        </li>
                    </ul>
                    <h5 class="thumb-title"><a class="text-darken" href="#">InterContinental New York Barclay</a></h5>
                    <p class="mb0"><small><i class="fa fa-map-marker"></i> Ozone Park, NY (Kennedy Airport (JFK))</small>
                    </p>
                    <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$213</span><small> avg/night</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img" href="#">
                        <img src="assets/img/hotel-1-800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite2" />
                        <h5 class="hover-title-center">Book Now</h5>
                    </a>
                </header>
                <div class="thumb-caption">
                    <ul class="icon-group text-tiny text-color">
                        <li><i class="fa fa-star"></i> </li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                    </ul>
                    <h5 class="thumb-title"><a class="text-darken" href="#">Affinia Shelburne</a></h5>
                    <p class="mb0"><small><i class="fa fa-map-marker"></i> Brooklyn, NY (Brooklyn)</small>
                    </p>
                    <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$238</span><small> avg/night</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img" href="#">
                        <img src="assets/img/hotel-porto-bay-serra-golf-living-room-800x600.jpg" alt="Image Alternative text" title="hotel 2" />
                        <h5 class="hover-title-center">Book Now</h5>
                    </a>
                </header>
                <div class="thumb-caption">
                    <ul class="icon-group text-tiny text-color">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-half-empty"></i></li>
                    </ul>
                    <h5 class="thumb-title"><a class="text-darken" href="#">New York Hilton Midtown</a></h5>
                    <p class="mb0"><small><i class="fa fa-map-marker"></i> New York, NY (Midtown East)</small></p>
                    <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$438</span><small> avg/night</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img" href="#">
                        <img src="assets/img/hotel-2-800x600.jpg" alt="Image Alternative text" title="hotel THE CLIFF BAY spa suite" />
                        <h5 class="hover-title-center">Book Now</h5>
                    </a>
                </header>
                <div class="thumb-caption">
                    <ul class="icon-group text-tiny text-color">
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star-half-empty"></i>
                        </li>
                    </ul>
                    <h5 class="thumb-title"><a class="text-darken" href="#">Wellington Hotel</a></h5>
                    <p class="mb0"><small><i class="fa fa-map-marker"></i> New York, NY (Downtown - Wall Street)</small>
                    </p>
                    <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$210</span><small> avg/night</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>
<!-- End :: Last Minute Deals -->
