<!-- Start :: Hotels -->
<!-- <div class="tab-pane fade in active" id="tab-1"> -->
<h2>Search and Save on Hotels</h2>
<form>
    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
        <label>Where are you going?</label>
        <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
    </div>
    <div class="input-daterange" data-date-format="M d, D">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>Check-in</label>
                    <input class="form-control" (click)="hpicker.open()" (focus)="hpicker.open()" [matDatepicker]="hpicker" name="start" type="text" />
                    <mat-datepicker #hpicker></mat-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>Check-out</label>
                    <input class="form-control" (click)="hcpicker.open()" (focus)="hcpicker.open()" [matDatepicker]="hcpicker" name="end" type="text" />
                    <mat-datepicker #hcpicker></mat-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-icon-left">
                    <label>Roomes</label>
                    <input class="form-control" name="end" type="text" placeholder="Roomes" />
                    <!-- <mat-datepicker #hcpicker></mat-datepicker> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-lg form-group-select-plus">
                    <label>Guests</label>
                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                        <label class="btn btn-primary active">
              <input type="radio" name="options" />1</label>
                        <label class="btn btn-primary">
              <input type="radio" name="options" />2</label>
                        <label class="btn btn-primary">
              <input type="radio" name="options" />3</label>
                        <label class="btn btn-primary">
              <input type="radio" name="options" />3+</label>
                    </div>
                    <select class="form-control hidden">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option selected="selected">4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
          </select>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Search for Hotels</button>
</form>
<!-- </div> -->
<!-- End :: Hotels -->